/***
	ESP 2866-based JAMMA Input Viewer
	Softdrink 117
	GITHUB LINK HERE WOOOOOO
***/

html {
	font-family: monospace;
	margin: 0px auto;
	text-align: left;
}

body {
	background-color: black;
	color: white;
}